<h1>All Teams</h1>

<% @teams.each do |team| %>
<ul>
  <li><b><%= team.name %></b></li>
  <li>Supervisor: <%= team.supervisor.name unless team.supervisor.nil? %></li>
  <li>Team Members:  
    <ul>
      <% team.members.each do |member| %>
        <li><%= member.name %></li>
      <% end %>
    </ul>
  </li>
  <li><%= link_to "Show", team %> | 
  <%= link_to "Edit", edit_team_path(team) %> | 
  <%= link_to "Destroy", team, method: :delete, data: { confirm: 'Are you sure?' } %></li>
</ul>
<% end %>

<br>

<%= link_to 'New Team', new_team_path %>