<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<p>
  <b>Supervisor:</b>
  <%= @team.supervisor.name %>
</p>

<p>
  <b>Members:</b>
  <ul>
	  <% @team.members.each do |member| %>
	    <li><%= member.name %></li>
	  <% end %>
   </ul>
</p>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>