<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<p>
  <b>Supervisor:</b>
  <%= @team.supervisor.name %>
</p>

<p>
  <b>Members:</b>
  <%= @team.members.map { |member| " #{member.name} " }.join %>
</p>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>